body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}
div{
  border-radius: 30px;
  width: 350px;
  padding: 30px;
  padding-left: 50px;
  background-color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}